.App-header {
  box-sizing: border-box;
  padding: 10px 10px;
  height:50px;
  text-align: left;
  box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.29);
}
.App-content {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  padding: 5px 10px;
}
.title {
  font-size: 1.2rem;
  font-weight: 500;
}
.add-form {
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 5px;
}
.add-form input {
  margin: 5px 0px;
}
.add-form textarea {
  margin: 5px 0px;
}

.row {
  display: flex;
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.col-1 {
  width: 8.33%
}
.col-2 {
  width: 16.66%
}
.col-3 {
  width: 25%
}
.col-4 {
  width: 33.33%
}
.col-5 {
  width: 41.66%
}
.col-6 {
  width: 50%
}
.col-7 {
  width: 58.33%
}
.col-8 {
  width: 66.66%
}
.col-9 {
  width: 75%
}
.col-10 {
  width: 83.33%
}
.col-11 {
  width: 91.66%
}
.col-12 {
  width: 100%
}


